*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  max-width: 600px;
  margin: auto;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo {
  width: 20%;
  height: auto;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.list-article-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-article-container {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 0.5em;
  background-color: rgb(242, 249, 253);
  width: auto;
  flex: 1;
}

.list-article-container:hover {
  background-color: rgba(175, 223, 255, 0.3);
}

.img-article-list {
  padding: 0.5rem;
  height: auto;
  min-width: 10rem;
  max-width: 30%;
  border-radius: 2%;
}

.article-list-body {
  position: absolute;
  bottom: 5px;
  margin-top: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  font-size: 0.8rem;
}

.article-list-header {
  text-align: left;
  margin: 0 10px 30px 10px;
  display: flex;
  flex-direction: column;
}

.article-list-header > h3 {
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 100%;
}

.article-list-header > p {
  font-size: 0.7rem;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 100%;
}

.heart-icon {
  width: 1em;
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

.image-single-article > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.comments-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}
.comments-form-wrapper > textarea {
  margin: 0 10px 0 10px;
}

.article-image {
  text-align: center;
  width: 60vw;
  margin: 10px auto 20px auto;
}

.comments-wrapper > h3 {
  margin: 0;
  margin-top: 10px;
}

.each-article {
  width: 90vw;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comments-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 5px;
  font-size: 0.7em;
}

.comments-list-wrapper > p {
  background-color: rgb(247, 247, 247);
  padding: 10px;
  text-align: left;
}

.comments-list-wrapper > section {
  padding: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(233, 250, 255);
}

.article-votes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article-votes-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nc-news {
  text-align: left;
  font-size: 4em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0 30px;
  background-color: #f883aa;
  color: white;
  padding: 10px;
  font-size: 1em;
}

.nc-logo {
  width: 30%;
  margin-left: 0;
}

.search-bar-elements-group > label {
  padding-right: 10px;
}

button {
  border: none;
  padding: 0.3em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #d1d1d1;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
